<nav class="navbar navbar-dark bg-dark navbar-expand">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <button class="nav-link btn" (click)="fileInput.click()">Load</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" (click)="save()">Save</button>
                </li>
            </ul>
        </div>
        <input class="form-control page-input" type="number" [(ngModel)]="page" aria-label="Current Page">
        <button class="btn btn-dark ms-1 d-lg-none" (click)="openBookmarkDialog()">
            <i class="bi-bookmarks"></i>
        </button>
    </div>
</nav>
<input #fileInput type="file" class="input" class="d-none" (change)="loadFromUploadEvent($event)">