<div class="modal-header">
    <h4 class="modal-title">
        Confirmation
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
    <p>
        Are you sure you want to delete the bookmark?
    </p>
</div>
<div class="modal-footer">
    <button type="button" form="bookmarkForm" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="button" form="bookmarkForm" class="btn btn-outline-dark" (click)="modal.close()">Confirm</button>
</div>