<div [class]="['list-group-content', 'list-group-content-level-' + level]">
    <button class="btn btn-dark btn-sm" [class.hidden]="!item.children.length" (click)="collapsed = !collapsed">
        <i [class.bi-chevron-right]="collapsed" [class.bi-chevron-down]="!collapsed"></i>
    </button>
    <button class="btn btn-dark btn-sm text-start w-100 ps-0 m-1" (click)="goPage(item.page)">
        {{ item.title }}
    </button>
    <div ngbDropdown>
        <button class="btn btn-dark btn-sm" ngbDropdownToggle>
                <i class="bi-three-dots"></i>
        </button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="edit()">Edit</button>
            <button ngbDropdownItem (click)="delete()">Delete</button>
            <button ngbDropdownItem (click)="add('before')">Add Before</button>
            <button ngbDropdownItem (click)="add('after')">Add After</button>
            <button ngbDropdownItem (click)="add('inside')">Add Inside</button>
        </div>
    </div>
</div>
<app-tree *ngIf="!collapsed" [tree]="item" [level]="level + 1"></app-tree>